########################################
# WhiteSource FS-Agent configuration file
# Docs: https://whitesource.atlassian.net/wiki/spaces/WD/pages/489160834/Unified+Agent+Configuration+File+Parameters
########################################

#### Language settings ####
bazel.resolveDependencies=false
bower.resolveDependencies=false
cargo.resolveDependencies=false
case.sensitive.glob=false
checkPolicies=false
cocoapods.resolveDependencies=false
followSymbolicLinks=true
forceCheckAllDependencies=false
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false
go.resolveDependencies=false
gradle.resolveDependencies=false
html.resolveDependencies=true
html.identifyByNameAndVersion=true
html.includeDevDependencies=true
maven.resolveDependencies=false
npm.resolveDependencies=true
npm.identifyByNameAndVersion=true
npm.runPreStep=false
npm.includeDevDependencies=true
nuget.resolveDependencies=false
offline=false
paket.resolveDependencies=false
php.resolveDependencies=false
python.resolveDependencies=false
r.resolveDependencies=false
ruby.resolveDependencies=false
sbt.resolveDependencies=false

#### WS server URL ####
wss.url=https://app.whitesourcesoftware.com/agent

#### Glob patterns ####
includes=**/*.js **/*.html **/*.html.erb